header
    padding: 20px 0
    .imgbox
        width: 40px
        nav
            a
                font-size: 20px
                color: #8c8999
                margin-right: 30px
        .home-color
            color: #74bebc
    .icon,.bigicon
        display: none
    @media screen and ( max-width: 992px )
        .menu
            height: 70px
            a
                display: none
            .icon
                display: block
                background-color: #e4e0e0
                margin-left: 44px
                i
                    margin: 10px
            .imgbox
                margin-left: 24px
    @media screen and ( max-width: 576px )
        .icon
            display: block
        .bigicon
            display: block
            background-color: #35b9be
            color: #ffff
            margin-left: 65px
            i
                margin: 10px
